.title {
    color: #090348;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.title:hover {
    text-decoration: underline;
    color: #034325;
}